In [1]:
import pandas as pd
import pymysql as my
import csv
import scipy.io

In [2]:
df1 = pd.read_csv('stock2.csv',encoding="cp949")

In [ ]:
d1 = pd.read_csv('stock2.csv',encoding="cp949")

In [ ]:
df2 = pd.read_csv('stock2.csv',encoding="cp949", header = None)

In [ ]:
df

In [3]:
df1

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,앱코,129890,컴퓨터 및 주변장치 제조업,"게이밍기어, 뉴라이프가전 등",2020-12-02,12월,오광근,http://www.abko.co.kr,서울특별시
1,엔에프씨,265740,기타 화학제품 제조업,화장품 원료 제조 및 판매,2020-12-02,12월,유우영,http://nfccosmetics.co.kr,인천광역시
2,제일전기공업,199820,"전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업","PCB Assay, 배선기구, 분전반 등",2020-11-26,12월,강동욱,http://www.cheilelec.com,부산광역시
3,하나기술,299030,특수 목적용 기계 제조업,"이차전지 제조장비(조립공정장비 83.07%, PACK공정 장비 12.92% 등)",2020-11-25,12월,오태봉,http://www.hn-tech.co.kr,경기도
4,에이플러스에셋,244920,보험 및 연금관련 서비스업,보험대리 및 중개업,2020-11-20,12월,박경순,NaN,서울특별시
...,...,...,...,...,...,...,...,...,...
2390,CJ대한통운,120,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,박근희,http://www.cjlogistics.com,서울특별시
2391,메리츠화재,60,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
2392,경방,50,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
2393,유수홀딩스,700,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2394,한진중공업홀딩스,3480,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,"조남호, 조원국",http://www.hhic-holdings.com,경기도

In [ ]:
df2.to_csv('stock5.csv')

In [6]:
my.install_as_MySQLdb()
from sqlalchemy import create_engine

In [8]:
conn= my.connect(   host    ='localhost',                    
                    user    ='root',
                    password='12341234',
                    port    = 3306,
                    db      ='python_db',
                    charset ='utf8mb4',
                    cursorclass=my.cursors.DictCursor)
curs = conn.cursor()
conn.commit()

In [10]:
sql =   '''
        CREATE TABLE IF NOT EXISTS `stock2` 
        (
          `name` varchar(256) DEFAULT NULL,
          `code` varchar(256) DEFAULT NULL,
          `type` varchar(256) DEFAULT NULL,
          `product` varchar(256) DEFAULT NULL,
          `pubdate` varchar(256) DEFAULT NULL,
          `payDay` varchar(256) DEFAULT NULL,
          `owner` varchar(256) DEFAULT NULL,
          `homepage` varchar(256) DEFAULT NULL,
          `addr` varchar(256) DEFAULT NULL
          ) 
        ENGINE=InnoDB DEFAULT CHARSET=utf8;
        '''
curs.execute(sql)

0

In [9]:
df1 = open('stock2.csv')
stockReader = csv.reader(df1)

import pandas as pd
import pymysql as my
import csv
import scipy.io

df1 = pd.read_csv('stock2.csv',encoding="cp949")

my.install_as_MySQLdb()
from sqlalchemy import create_engine

conn= my.connect(   host    ='localhost',                    
                    user    ='root',
                    password='12341234',
                    port    = 3306,
                    db      ='python_db',
                    charset ='utf8mb4',
                    cursorclass=my.cursors.DictCursor)
curs = conn.cursor()
conn.commit()

df1 = open('stock2.csv')
stockReader = csv.reader(df1)

sql =   '''
        CREATE TABLE IF NOT EXISTS `stock2` 
        (
          `name` varchar(256) DEFAULT NULL,
          `code` varchar(256) DEFAULT NULL,
          `type` varchar(256) DEFAULT NULL,
          `product` varchar(256) DEFAULT NULL,
          `pubdate` varchar(256) DEFAULT NULL,
          `payDay` varchar(256) DEFAULT NULL,
          `owner` varchar(256) DEFAULT NULL,
          `homepage` varchar(256) DEFAULT NULL,
          `addr` varchar(256) DEFAULT NULL
          ) 
        ENGINE=InnoDB DEFAULT CHARSET=utf8;
        '''
curs.execute(sql)

for row in stockReader:

    user_name = (row[0])
    user_code = (row[1])
    user_type = (row[2])
    user_product = (row[3])
    user_pubdate = (row[4])
    user_payDay = (row[5])
    user_owner = (row[6])
    user_homepage = (row[7])
    user_addr = (row[8])
    
    sql = """insert into stock2 (name, code, type,product,pubdate,payDay,owner,homepage,addr) values (%s, %s, %s, %s, %s, %s, %s, %s ,%s)"""
    curs.execute(sql, (user_name, user_code, user_type, user_product,user_pubdate,user_payDay,user_owner,user_homepage,user_addr))
    
conn.commit()
conn.close()

In [11]:
for row in stockReader:

    user_name = (row[0])
    user_code = (row[1])
    user_type = (row[2])
    user_product = (row[3])
    user_pubdate = (row[4])
    user_payDay = (row[5])
    user_owner = (row[6])
    user_homepage = (row[7])
    user_addr = (row[8])
    
    sql = """insert into stock2 (name, code, type,product,pubdate,payDay,owner,homepage,addr) values (%s, %s, %s, %s, %s, %s, %s, %s ,%s)"""
    curs.execute(sql, (user_name, user_code, user_type, user_product,user_pubdate,user_payDay,user_owner,user_homepage,user_addr))

In [12]:
conn.commit()
conn.close()